<!DOCTYPE html>
<html>
    <head>
        <title>Train Punctuality</title>
    </head>

    <body>

        <div>
            <form action="{{ url_for('gettrain') }}" method="POST">

                <div>
                    <label for="fromloc">From Location</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fromloc"
                        name="fromloc"
                        placeholder="Enter from location here"
                        required>

                    <label for="fromtime">From Time</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fromtime"
                        name="fromtime"
                        placeholder="Enter from time here"
                        required>

                    <label for="fromdate">From Date</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fromdate"
                        name="fromdate"
                        placeholder="Enter from date here"
                        required>
                </div>

                <div>
                    <label for="toloc">To Location</label>
                    <input
                        type="text"
                        class="form-control"
                        id="toloc"
                        name="toloc"
                        placeholder="Enter to location here"
                        required>

                    <label for="totime">To Time</label>
                    <input
                        type="text"
                        class="form-control"
                        id="totime"
                        name="totime"
                        placeholder="Enter to time here"
                        required>

                    <label for="todate">To Date</label>
                    <input
                        type="text"
                        class="form-control"
                        id="todate"
                        name="todate"
                        placeholder="Enter to date here"
                        required>
                </div>

                <div>
                    <label for="days">Days</label>
                    <input
                        type="text"
                        class="form-control"
                        id="days"
                        name="days"
                        placeholder="Enter number of days">
                </div>

                <button type="submit">
                    Submit
                </button>

            </form>
        </div>

        <div>
            <form action="{{ url_for('resetdb') }}" method="POST">
                <button type="submit">
                    Reset Database
                </button>
            </form>

            <form action="{{ url_for('graphs') }}" method="GET">
                <button type="submit">
                    View Graphs
                </button>
            </form>
        </div>

    </body>
</html>